{% extends 'template.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'order.css' %}">

<div class="mt-5 px-5">
    <div class="row row-order p-3" style="background-color: #ededed;">
        <div class="col-sm-2 mr-5 p-0">
            <svg>
                <rect width="250" height="200" style="fill:black;" />
            </svg>
        </div>
        <div class="col-sm-7 mr-5 p-0 ml-3">
            <h3>
                Nasi Goreng Babat
                <br>
                Rp15.000
                <br>
            </h3>
            <br />
            <form>
                <input type="text" placeholder="catatan">
            </form>
        </div>
    
    </div>
    <div class="row row-order p-3 justify-content-end add-order" style="background-color: #ededed;">
        <a href="#" class="h5 tambah">
            +Tambah Pesanan
        </a>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="card page-info">
            <div class="card-body page-info-body">
                <h3>Detail Pembayaran</h3>
            </div>
        </div>
    </div>
    <br />
    <div class="row row-order p-3">
        <div class="col-sm-10 p-0 justify-content-end">
            <h4>
                Harga
            </h4>
        </div>
        <div class="col-sm-2 center p-0">
            <div class="container center align-item-center p-0 justify-content-end">
                <h4>
                    Rp15.000
                </h4>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="card page-info">
            <div class="card-body page-info-body">
                <h3>Bayar Menggunakan</h3>
            </div>
        </div>
    </div>
    <br />
    <form action="">
    <div class="row row-order p-3">
        <div class="col-sm-10 p-0 justify-content-end">
            <h4>
                Cash
            </h4>
        </div>
        <div class="col-sm-2 center p-0"">
            <div class=" container center align-item-center p-0 justify-content-end">
                <input type="radio" checked= "checked" name="cara" value="cash">
                <span class="checkmark"></span>
            </div>
        </div>
    </div>
    <div class="row row-order p-3 mb-5">
        <div class="col-sm-10 p-0 justify-content-end">
            <img class="gopay" src="{% static 'go-pay.svg' %}" alt="" style="width: 120px;">
        </div>
        <div class="col-sm-2 center p-0">
            <div class=" container center align-item-center p-0 justify-content-end">
                <input type="radio" name="cara" value="gopay">
                <span class="checkmark"></span>
        </div>
    </div>
    </div>
    </form>
    <div class="row center mb-5">
        <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Buat Pesanan" />
        </form>
    </div>
</div>

{% endblock %}