.form-control {
  border-radius: 50px;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.btn-success {
  color:#000;
  background-color: #C1CD97;
  border-color: #C1CD97;
  border-radius: 15px;
}

.menu-card {
  flex-basis: 33%;
  padding: 30px;
}

.card {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.menu-card-deck {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.menu-img {
  height: 180px;
}


.menu-title {
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .menu-card {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu-card {
    flex-basis: 50%;
  }
}
