{% extends 'home.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'menu.css' %}">

	<div class="container mb-5">
		<div class="menu-card-deck">
		{% for menu in menus %}
		<div class="menu-card">
		  <div class="card">
		    <img src= {{ Menu.Gambar }} class="card-img-top menu-img">
		    <div class="card-body">
		      <h5 class="card-title menu-title"> {{ Menu.Nama }} </h5>
		      <p class="card-text"> {{ Menu.Harga }} - {{ Menu.Kategori }} </p>
		      <br/>
		      <p class="card-text"> {{ Menu.Deskripsi }} </p>
		    </div>
		  </div>
		</div>
		{% endfor %}
		</div>
		<br/>
		<div class="row center">
			<form action="{% url 'add_menu_form' %}" method="POST">
				{% csrf_token %}
				<input class="btn btn-primary" type="submit" value="Tambah Menu"/>
			</form>
		</div>
	</div>
{% endblock %}
