{% extends 'home.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'menu.css' %}">

	<form action="{% url 'add_canteen' %}" method="POST" mb-5>
		{% csrf_token %}
		<div class="container">
		  <div class="row">
		  	Nama: {{ form.nama }}
		  </div>
		  <br/>
		  <div class="row">
		    <div class="col-6 padding-left-0">
		      Jam Buka: {{ form.jam_buka }}
		    </div>
		    <div class="col-6 padding-right-0">
		      Jam Tutup: {{ form.jam_tutup }}
		    </div>
		  </div>
		  <br/>
		  <div class="row">
		    <div class="col-6 padding-left-0">
		      Kategori: {{ form.kategori }}
		    </div>
		    <div class="col-6 padding-right-0">
		      Link Gambar: {{ form.gambar }}
		    </div>
		  </div>
		  <br/>
		  <br/>
		  <br/>
		  
		  <div class="row center pb-1 mb-5">

			<input class="btn btn-primary" type="submit" value="Tambah Kantin"/>
		  </div>
		</div>
	</form>
{% endblock %}
