{% extends 'template.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'menu.css' %}">

	<form action="{% url 'add_menu_form' %}" method="POST" >
		{% csrf_token %}
		<div class="container">
		  <div class="row">
		  	Nama: {{ form.nama }}
		  </div>
		  <br/>
		  <div class="row">
		    <div class="col-6 padding-left-0">
		      Harga: {{ form.harga }}
		    </div>
		    <div class="col-6 padding-right-0">
		      Stok: {{ form.stok }}
		    </div>
		  </div>
		  <br/>
		  <div class="row">
		    <div class="col-6 padding-left-0">
		      Gambar: {{ form.gambar }}
		    </div>
		    <div class="col-6 padding-right-0">
		      Deskripsi: {{ form.deskripsi }}
		    </div>
		  </div>
		  <br/>
		  <div class="row">
				Nama Kantin: {{ form.kantin }}
			</div>
		  <br/>
		  <br/>
		  
		  <div class="row center pb-1 mb-5">
			<input class="btn btn-primary" type="submit" value="Tambah Menu"/>
		  </div>
		</div>
	</form>
{% endblock %}
