{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="pl-5 pr-5">
    
    <div class="questions mb-5">
        {% for datum in form.data %}
    
        <div class="question-answer-item mb-4 flex-col">
    
                <button class="accordion p16 pb-3">{{datum.pertanyaan}}</button>
                <div class="panel">
                  <p class="p-3">{{datum.jawaban}}</p>
                </div>
    
        </div>
    
        {% endfor %}
    </div>
    
    <div class="ask-section flex-col mb-5">
        <h3>Punya Pertanyaan?</h3>
    
        <div class="user-form mt-2">
    
            <form action="" method="post"> 
                {% csrf_token %}
                
                <div class="flex-col mb-4">
                    <label for="pertanyaan">Pertanyaan</label>
                    {{form.form.pertanyaan}}
                    <small id="tempat" class="text-muted">
                        Tuliskan pertanyaan anda.
                    </small>
                </div>
    
                <div class="flex-col mb-4">
                        <label for="email">E-mail</label>
                        {{form.form.email}}
                        <small id="tempat" class="text-muted">
                            Input email anda untuk verifikasi
                        </small>
                </div>
    
                <button type="submit" class="btn btn-primary">Kirim</button>
    
            </form>
        </div>
    </div>
</div>

{% endblock %}