{% extends 'template.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
			<p><strong>Nama Kantin, Tempat</strong></p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p> Nama Menu </p>
		</div>
		
		<div class="col" style="text-align: right">
			<p>Rp. XXX</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="line" style="border-top: 2px solid black; width: 100%;"></div>
		<br>
	</div>

	<div class="row">
		<div class="col">
			<p><strong>Nama Kantin, Tempat</strong></p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p> Nama Menu </p>
		</div>
		
		<div class="col" style="text-align: right">
			<p>Rp. XXX</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="line" style="border-top: 2px solid black; width: 100%;"></div>
		<br>
	</div>

	<div class="row">
		<div class="col">
			<p><strong>Nama Kantin, Tempat</strong></p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p> Nama Menu </p>
		</div>
		
		<div class="col" style="text-align: right">
			<p>Rp. XXX</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="line" style="border-top: 2px solid black; width: 100%;"></div>
		<br>
	</div>

	<div class="row">
		<div class="col">
			<p><strong>Nama Kantin, Tempat</strong></p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p> Nama Menu </p>
		</div>
		
		<div class="col" style="text-align: right">
			<p>Rp. XXX</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="line" style="border-top: 2px solid black; width: 100%;"></div>
		<br>
	</div>
	
</div>

{% endblock %}