<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kane.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'logo.png' %}" alt="" id="brand-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page == "home" %} active {% endif %}">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if page == "kantin" %} active {% endif %}">
              <a class="nav-link" href="{% url 'index_canteen' %}">Kantin</a>
            </li>
            <li class="nav-item {% if page == "order" %} active {% endif %}">
              <a class="nav-link" href="{%url 'order' %}">Order</a>
            </li>
            <li class="nav-item {% if page == "riwayat" %} active {% endif %}">
                <a class="nav-link" href="/riwayat">Riwayat</a>
            </li>
            <li class="nav-item {% if page == "bantuan" %} active {% endif %}">
                <a class="nav-link" href="/bantuan">Bantuan</a>
            </li>

          </ul>
        </div>
    </nav>

    {% if page != "home" %}
    <div class="page-header flex-row pl-5 ml-4 mb-5 mt-5">
        <div class="vr-line mr-4"></div>
        <div class="header-text flex-col width-150px">
            <h3>{{ title }}</h3>
            <p class="page-desc p16">{{ subtitle1 }} <br/> {{ subtitle2 }}</p>
        </div>
    </div>
    {% endif %}

    <div class="main-content overflow-on-x">

        {% block content %}
        {% endblock %}

        <footer class="pl-3 pt-1 pb-3">
            <p>©2019 kane (KAntin oNlinE), All rights reserved.</p>
        </footer>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="{% static 'kane.js' %}"></script>
</body>

</html>