body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
    color: #1b1b1b;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 71vh;
}

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: .1rem 3rem;
    z-index: 2;
}

#brand-logo {
    height: 50px;
    position: relative;
}

footer {
    left: 0;
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: #C1CD97;
    color: #F2F2F2;
}

footer p {
    margin: 1rem 3rem;
}

.mr-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 56pt;
    font-weight: 800;
}

h2 {
    font-size: 32pt;
}

h3 {
    font-size: 24pt;
    font-weight: 400 !important;
    font-family: 'PT Sans', sans-serif;
}

#small-desc {
    color: #585858;
    font-weight: 300;
    font-size: 18pt;
}

.mr-0 {
    position: relative;
    margin-right: 0;
}

.btn-primary {
    background-color: #C1CD97;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
    color: #5D6541;
    padding: 1.5rem 5rem;
}

.btn-primary:hover {
    background-color: #5D6541;
    color: #C1CD97;
    border: none;
}

.btn {
    font-size: 18pt !important;
}

.btn-primary:active {
    color: #5D6541 !important;
    background-color: #C1CD97 !important;
}

#btn-gray{
    background-color: #777777!important;
    color: #1b1b1b!important;
}

#btn-gray:hover{
    background-color: #1b1b1b!important;
    color: #777777!important;
}

#btn-gray:active{
    background-color: #3a3a3a!important;
    color: #1a1a1a!important;
}

.green-bold {
    color: #5D6541;
    font-weight: 800;
}

.green-font {
    color: #5D6541;
}

.vr-line {
    border-left: 3px solid #1b1b1b;
    height: 100px;
}

.extend-line {
    height: 500px;
}

#mengapa-kane {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.back-btn{
    font-size: 14pt;
    color: #5D6541;
}

.back-btn:hover{
    color: #C1CD97;
}

.why-img {
    width: 150px;
}

.why-desc {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.clickable {
    cursor: pointer;
}

.p16 {
    font-size: 16pt;
}

.p20 {
    font-size: 20pt;
}

.m-0 {
    margin: 0;
}

.pd-0 {
    padding-left: 0;
    padding-right: 0;
}

.page-desc {
    font-size: 14pt;
    color: #585858;
}

.border-down {
    border-bottom: 1px solid #585858;
}

.width-25px {
    width: 25px;
}

.width-150px {
    width: 450px;
}

.width-custom1 {
    width: 640px !important;
    /* max-width: 100%; */
}

.overflow-on-x {
    overflow-x: hidden;
}

.absolute {
    position: absolute;
}

.size-25px {
    height: 25px;
    size: 25px;
}

.height-img {
    height: 757px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.flex-rev {
    align-items: center;
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: space-evenly;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.form-style {
    border: 1px solid #1b1b1b;
    height: 32pt;
    border-radius: 50px;
}

.flex-col-rev {
    flex-direction: column-reverse;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
}

.accordion {
    background-color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #1b1b1b;
    outline: none;
    transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #f3f3f3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    border: none;
}

.active-clicked:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.food-img {
    object-fit: fill;
    position: relative;
    /* overflow-x: hidden; */
    width: 640px;
    /* max-width: 100%; */
    /* right: -161px;
    top: -47px; */
    filter: brightness(50%);
}

.card-link{
    color: #1b1b1b!important;
    text-decoration: none;
  }

.card-link:hover{
    color: #1b1b1b!important;
    text-decoration: none;
}

@media (max-width: 992px) {
    .none {
        display: none;
    }

    .flex-right{
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .flex-col-rev {
        flex-direction: row;
    }
    
    .flex-rev {
        flex-direction: column-reverse;
    }

    .nav-link {
        padding: .1rem 1.5rem !important;
    }

}